body {
  font-size: 16px;
  color: rgb(221, 50, 50);
  background-color: #06111c;
  font-family: "Oxygen", sans-serif;
}

/** HEADER **/
#header-nav {
  background-color: #bb2020;
  border-radius: 0;
  border: 0;
}

.navbar-brand {
  padding-top: 10px;
}
.navbar-brand h1 {
  /* Restaurant name */
  font-family: "Lora", serif;
  color: #ffeb4d;
  font-size: 1.5em;
  text-transform: uppercase;
  font-weight: bold;
  text-shadow: 1px 1px 1px #222;
  margin-top: 0;
  margin-bottom: 0;
  line-height: 0.75;
}
.navbar-brand a:hover,
.navbar-brand a:focus {
  text-decoration: none;
}

#nav-list {
  margin-top: 10px;
}
#nav-list a {
  color: #ffeb4d;
  text-align: center;
}
#nav-list a:hover {
  background: #121317;
}

.navbar-header button.navbar-toggle,
.navbar-header .icon-bar {
  border: 1px solid #121317;
}

.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -30px;
}
/* END HEADER */

/********** Medium devices only **********/
@media (min-width: 992px) {
  .navbar-brand {
    padding-top: 10px;
    height: 80px;
  }
  .navbar-brand h1 {
    /* Restaurant name */
    padding-top: 10px;
    font-size: 3vw; /* 1vw = 1% of viewport width */
  }
  .container .jumbotron {
    background-color: #bec7c7;
    margin-top: 30px;
    padding: 30px;
  }
}

/********** small devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
  /* Header */
  .navbar-brand {
    padding-top: 25px;
    height: 80px;
  }
  .navbar-brand h1 {
    /* Restaurant name */
    padding-top: 10px;
    font-size: 4vw; /* 1vw = 1% of viewport width */
  }

  /* End Header */

  /* Home Page */
  .container .jumbotron {
    background-color: #bec7c7;
    margin-top: 30px;
    padding: 30px;
  }
  /* End Home Page */
}

/********** Extra small devices only **********/
@media (max-width: 767px) {
  /* Header */
  .navbar-brand {
    padding-top: 20px;
    height: 50px;
  }
  .navbar-brand h1 {
    /* Restaurant name */
    padding-top: 10px;
    font-size: 5vw; /* 1vw = 1% of viewport width */
  }

  #collapsable-nav a {
    /* Collapsed nav menu text */
    font-size: 1.4em;
  }
  #collapsable-nav a span {
    /* Collapsed nav menu glyph */
    font-size: 1em;
    margin-right: 5px;
  }
  /* End Header */

  /* Home Page */
  .container .jumbotron {
    background-color: #bec7c7;
    margin-top: 30px;
    padding: 30px;
  }
}

/********** Super extra small devices Only :-) (e.g., iPhone 4) **********/
@media (max-width: 479px) {
  /* Header */
  .navbar-brand {
    padding-top: 20px;
    height: 50px;
  }
  .navbar-brand h1 {
    /* Restaurant name */
    padding-top: 5px;
    font-size: 8vw;
  }
  /* End Header */
  #main-content h1 {
    font-size: 8vw;
  }
  #main-content .jumbotron {
    font-size: 6vw;
  }
}
